.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #6b00b6, #440074);
    color: white;
  }
  
  .header {
    text-align: center;
  }
  
  .header h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .header p {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  
  .shop-now-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    color: white;
    background-color: #ff4081;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .shop-now-btn:hover {
    background-color: #e91e63;
  }
  