.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.cart-item-details {
  flex: 1;
  margin-left: 20px;
}

.cart-item-details h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.cart-item-details p {
  margin: 5px 0;
  font-size: 16px;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.cart-item-actions button {
  background: #e8491d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
}

.cart-item-actions button:hover {
  background: #35424a;
}

.cart-item-actions input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
}

.remove-btn {
  background-color: #ff4d4d;
}

.remove-btn:hover {
  background-color: #ff1a1a;
}
