.cart-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart-items {
  width: 65%;
  margin-right: 20px;
}

.cart-summary {
  width: 30%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-summary h2 {
  margin-bottom: 20px;
}

.cart-summary p,
.cart-summary h3 {
  font-size: 18px;
  margin: 10px 0;
}

.cart-summary input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-summary button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-summary button:hover {
  background-color: #218838;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.cart-item div {
  flex: 1;
  margin-left: 20px;
}

.cart-item h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #333;
}

.cart-item p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.cart-item button {
  background-color: #e8491d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 14px;
}

.cart-item button:hover {
  background-color: #35424a;
}

.cart-item .remove-btn {
  background-color: #ff4d4d;
}

.cart-item .remove-btn:hover {
  background-color: #ff1a1a;
}
.cart-summary .buy-now-btn {
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cart-summary .buy-now-btn:hover {
  background-color: #218838;
}


.buy-now-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.buy-now-btn:hover {
  background-color: #218838;
}
